DATABASE_URL=postgres://docker:docker@localhost:5432/next-saas

JWT_SECRET=

NEXT_PUBLIC_API_URL=http://localhost:3333/

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_CLIENT_REDIRECT_URI=
